{% extends '_layout' %}

{% block content %}

<main class="container">
<h4>welcome</h4>
<h1>big.yokohama</h1>

<p>network concensus: complete</p>
<p>entity compilation: in-progress</p>
</main>

{% endblock %}