{% extends '_layout' %}

{% block content %}

<main class="main">
<h4 class="red">welcome</h4>
<h1 class="red">big.yokohama</h1>

<p class="green">network concensus: complete</p>
<p class="blue">entity compilation: in-progress</p>
</main>

{% endblock %}