body {
  background-color: var(--beige);
  height: 100%;
}

.main {
  padding: 10px;
}

.red {
  color: var(--red);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.yellow {
  color: var(--yellow);
}

.purple {
  color: var(--purple);
}
